/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* End of starter code */

:root {
    --default-orange: #efa93b;
    --default-dark-gray: #252122;
    --default-light-gray: #5d5d5d;
    --default-lighter-gray: rgb(231, 231, 231);         
    --default-movement-action: all 0.3s ease 0s;
    --default-movement: -3.5px;
    --default-border-width: 1px;
}

body {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: var(--default-dark-gray);
    background: url(../images/black-greeble-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 300%;

}

* {
    transition: var(--default-movement-action);
}

p, h1, h2, h3, h3, h5 {
    color: var(--default-dark-gray);
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
}

.section {
    flex-direction: column;
}

.item {
    display: inline;
}

.right {
    justify-content: flex-end;
}

.content {
    background-color: #f7f7f7;
}

.content .box {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: translateY(var(--default-movement));
}

button {
    padding: 6px 10px;
    background: none;
    border-color: var(--default-orange);
    border-width: var(--default-border-width);
    border-style: solid;
    font-weight: bold;
}

.header {
    width: 100% !important;
    max-width: 100% !important;
    background: url(../images/white-greeble-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 300%;
}

.footer {
    width: 100% !important;
    max-width: 100% !important;
}












/* .footer p {
    color: #858484;
    background-color: #2c2929;
    padding: 10px;
}

.nav button * {
    color: var(--default-light-gray);
}

.nav button {
    border-width: 0px;
    margin: 0 5px;
}

ul.nav {
    margin: 0;
    padding: 0;
}

button * {
    margin: 0px;
}

button:hover {
    background-color: var(--default-orange);
    transform: translateY(var(--default-movement));
    cursor: pointer;
}

button:hover * {
    color: white;
}

.active button {
    background-color: var(--default-orange);
}

.active button * {
    color: white;
}

.social .fab {
    font-size: 2em;
    color: var(--default-dark-gray);
}

.social a:hover .fab {
    color: var(--default-orange);
}

.social .container {
    align-self: center;
    margin: 0 10px;
}

.social {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 110%;
} */