@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

:root {
    --default-movement-action: all 0.3s ease 0s;
    --default-movement: -2.5px;
    --default-orange: orange;
    --default-dark-orange: #db831e; 
}

* {
    transition: var(--default-movement-action);
}


body {
    background-color: var(--default-dark-gray);
    background: url(../images/black-greeble-background.jpg);
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #5d5d5d;
    font-size: 14pt;
    line-height: 1.75em;
}

strong, b {
    color: #252122;
    font-weight: 400;
}

i, em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #252122;
    font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.35em;
}

h1.header, h2.header {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: -0.035em;
}

.container {
    padding: 0;
}

a {
    color: var(--default-orange);
}

a:hover {
    color: var(--default-orange);
}

a:hover img, a:hover .fa, a:hover .fab, a:hover .fas, a:hover p, a:hover h1 {
    transform: translateY(var(--default-movement));
}

.fa, .fab, .fas {
    color: var(--default-orange);
    font-size: 30px;
}

.social {
    flex-direction: row;
    
}

.social .col {
    padding: 0 10px 0 0 !important;
}

.navbar {
    width: 100% !important;
    max-width: 100% !important;
    background: url(../images/white-greeble-background.jpg);
}

.navbar .logo {
    height: 35px;
}

.navbar p {
    margin: 0;
}

.navbar .container {
    max-width: 100%;
    max-width: 1110px;
    height: 75px;
}

.navbar-toggler {
    border-radius: 0;
}

.content {
    background-color: #f7f7f7;
    padding: 10px 0;
}

.box {
    background-color: white;
    border-bottom: 1px solid #ccc;
    
}

.content .box {
    margin: 25px 0;
    padding: 35px 50px;
}

.footer {
    padding: 10px;
}

.footer p, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6{
    color: #fff;
    margin: 0;
}

.footer a * {
    color: var(--default-orange);
}

.footer .item {
    margin-top: 10px;
}

.footer #copyright {
    color: gray;
    text-align: center;
    background: #2C2929;
    padding: 10px;
    margin: 10px 0;
}

.footer .fa, .footer .fas, .footer .fab {
    font-size: 20px;
    margin-right: 10px;
}

.footer .contact {
    padding: 10px;
    margin: 0;
}

.footer .contact .row {
    margin: 5px;
    padding: 0;
}

.footer .contact .col {
    padding: 0;
}

.center-text {
    text-align: center;
}

.group-shot img {
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
    max-height: 500px;
}

.members img {
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
}

.members .social {
    margin: 15px 0 10px 0;
}

.members .social i {
    margin: 0 2px;
}

.members .person {
    padding: 10px;
    margin-bottom: 15px;
}

.inline {
    display: inline;
  }
  
  .link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
  }
  .link-button:focus {
    outline: none;
  }
  .link-button:active {
    color:red;
  }

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
    .navbar .social .fa,.navbar .social .fab, .navbar .social .fas {
        font-size: 20px;
    }

    .navbar .navbar-toggler-icon {
        font-size: 15px;
    }

    .social .col {
        padding: 0 5px 0 0 !important;
    }

    .navbar .logo {
        height: 30px;
    }

    .navbar {
        padding: 4px 8px;
    }

    .navbar .container {
        height: auto;
    }

    .content .box {
        padding-left: 30px;
        padding-right: 30px
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
